.comments
  margin-top: 36px
  color: #b6b6b6

  // Common 
  .comment-ava
    border-radius: 4px
    border: 2px solid $color__line
    width: 88px
    height: 88px
    padding: 2px
    img
      border-radius: 4px
      width: 80px


  // Add new comment
  // add-new-comment
  .new-comment
    display: flex
    border-bottom: 1px solid #f2f2f2
    padding-bottom: 10px
    .new-comment__form
      margin-left: 22px


  // Reply to comment
  .reply-to-comment, .edit-comment
    width: 100%
    margin-top: 20px
    
    .reply-to-comment__header, .edit-comment__header
      margin-bottom: 18px
      font-size: 15px
      display: flex
      justify-content: space-between
    // .reply-to-comment__title,
    // .reply-to-comment__cancel
    //   color: #b6b6b6
    .reply-to-comment__cancel, .edit-comment__cancel
      transition: color .4s
      cursor: pointer
      &:hover
        color: #454545



  .last-comments
    .comment
      margin-top: 40px
      display: flex
      flex-wrap: wrap
      font-size: 15px




      .comment-ava
        margin-right: 12px

      .comment-content
        width: calc(100% - 100px)


    .comment-header
      font-family: stag-medium

    .comment-title
      color: #454545
      font-size: 17px
      margin-right: 10px
    .comment-date


    .comment-message
      color: #454545
      font-size: 17px
      margin-bottom: 16px

    .comment-actions
      font-family: stag

      .comment-actions__edit, .comment-actions__delete, .comment-actions__reply
        transition: color .4s
        cursor: pointer
        &:hover
          color: #454545

  /* Replied comments */
  .replied-comments
    width: 100%
    min-width: 100%
    padding-left: 100px



  .comments__load-more-wrap
    margin: 45px 0 0
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    &:before, &:after
      content: ''
      width: 100%
      height: 1px
      background: #f2f2f2
  .comments__load-more
    cursor: pointer
    font-size: 17px
    color: #b6b6b6
    border: 1px solid #f2f2f2
    width: 180px
    min-width: 180px
    margin: 0 10px
    line-height: 36px
    text-align: center