

.new-comment__textarea, .edit-comment__textarea, .reply-to-comment__textarea
  width: 100%
  border: 2px solid $color__line
  border-radius: 4px
  font-size: 17px
  line-height: 22px
  height: 88px
  padding: 16px
  color: #454545
  font-family: stag
  resize: none
  transition: border-color .4s
  &::placeholder
    color: #bfbfbf
  &:focus
    outline: none
    border-color: #f1c40f


.new-comment__button, .edit-comment__button, .reply-to-comment__button
  font-family: stag-medium
  font-size: 17px
  line-height: 43px
  width: 140px
  border: none
  background: #f1c40f
  border-radius: 4px
  margin-top: 11px
  color: #454545
  transition: background .6s
  cursor: pointer
  &:focus
    outline: none
  &:focus, &:hover
    background: rgba(#f1c40f, .6)



.new-comment__form, .edit-comment__form, .reply-to-comment__form
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-end
