
.page-content
  position: relative
  max-width: 940px
  margin: auto
  background: #fff
  padding: 48px 80px 60px
  margin-top: -80px

  @media (max-width: 767px)
    padding: 48px 20px 60px



  .post-title
    position: relative
    .post-title__icon
      width: 32px
      height: 32px
      font-size: 18px
      left: -56px
      position: absolute


  .post-content
    p
      margin-bottom: 25px
    img
      // max-width: 365px
      width: 100%
      height: auto
      border: 5px solid #f2f2f2

    // .image-and-text
    //   img
    //     width: 100%
    @media (min-width: 1200px)
      .image-and-text
        margin: 0 0 0 -80px
        img
          float: left
          border-left: none
          margin-right: 20px

          max-width: 365px


.post-date
  color: $color__secondary
  font-size: 15px
  line-height: 20px
  font-family: stag-medium
  margin-bottom: 7px






/* post meta */

.post-meta
  color: $color__secondary
  padding: 14px 0
  border-top: 1px solid #f2f2f2
  border-bottom: 1px solid #f2f2f2
  display: flex
  font-size: 15px

  margin-top: -2px


  @media (max-width: 767px)
    flex-direction: column
  @media (min-width: 768px)
    .post-date-posted
      margin-left: 56px
    .post-comments-count
      margin-left: 66px

