@font-face
  font-family: stag
  src: url(/fonts/stag-sans-book.otf)
@font-face
  font-family: stag-medium
  src: url(/fonts/stag-medium.otf)




*
  box-sizing: border-box

$color__secondary: #b6b6b6

$color__line: #ebedee

body
  background: #f2f2f2
  padding: 0
  font-family: stag, open sans !important
  font-size: 17px
  line-height: 25px

strong
  font-family: stag-medium



h1, h2
  color: #454545
  font-family: stag-medium, open sans
  font-size: 30px
h1
  margin-bottom: 6px
  padding-bottom: 8px
  border-bottom: 1px solid #f2f2f2
h2
  margin-bottom: 42px



.post-hero
  max-height: 400px
  overflow: hidden
  position: relative
  .post-hero__image
    width: 100%
    height: auto
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(transparent, black)


@import './forms'

@import './page-content'

@import './comments'