@font-face {
  font-family: stag;
  src: url(/fonts/stag-sans-book.otf); }

@font-face {
  font-family: stag-medium;
  src: url(/fonts/stag-medium.otf); }

* {
  box-sizing: border-box; }

body {
  background: #f2f2f2;
  padding: 0;
  font-family: stag, open sans !important;
  font-size: 17px;
  line-height: 25px; }

strong {
  font-family: stag-medium; }

h1, h2 {
  color: #454545;
  font-family: stag-medium, open sans;
  font-size: 30px; }

h1 {
  margin-bottom: 6px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f2f2f2; }

h2 {
  margin-bottom: 42px; }

.post-hero {
  max-height: 400px;
  overflow: hidden;
  position: relative; }
  .post-hero .post-hero__image {
    width: 100%;
    height: auto; }
  .post-hero:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, black); }

.new-comment__textarea, .edit-comment__textarea, .reply-to-comment__textarea {
  width: 100%;
  border: 2px solid #ebedee;
  border-radius: 4px;
  font-size: 17px;
  line-height: 22px;
  height: 88px;
  padding: 16px;
  color: #454545;
  font-family: stag;
  resize: none;
  transition: border-color .4s; }
  .new-comment__textarea::-webkit-input-placeholder, .edit-comment__textarea::-webkit-input-placeholder, .reply-to-comment__textarea::-webkit-input-placeholder {
    color: #bfbfbf; }
  .new-comment__textarea::-moz-placeholder, .edit-comment__textarea::-moz-placeholder, .reply-to-comment__textarea::-moz-placeholder {
    color: #bfbfbf; }
  .new-comment__textarea:-ms-input-placeholder, .edit-comment__textarea:-ms-input-placeholder, .reply-to-comment__textarea:-ms-input-placeholder {
    color: #bfbfbf; }
  .new-comment__textarea::-ms-input-placeholder, .edit-comment__textarea::-ms-input-placeholder, .reply-to-comment__textarea::-ms-input-placeholder {
    color: #bfbfbf; }
  .new-comment__textarea::placeholder, .edit-comment__textarea::placeholder, .reply-to-comment__textarea::placeholder {
    color: #bfbfbf; }
  .new-comment__textarea:focus, .edit-comment__textarea:focus, .reply-to-comment__textarea:focus {
    outline: none;
    border-color: #f1c40f; }

.new-comment__button, .edit-comment__button, .reply-to-comment__button {
  font-family: stag-medium;
  font-size: 17px;
  line-height: 43px;
  width: 140px;
  border: none;
  background: #f1c40f;
  border-radius: 4px;
  margin-top: 11px;
  color: #454545;
  transition: background .6s;
  cursor: pointer; }
  .new-comment__button:focus, .edit-comment__button:focus, .reply-to-comment__button:focus {
    outline: none; }
  .new-comment__button:focus, .new-comment__button:hover, .edit-comment__button:focus, .edit-comment__button:hover, .reply-to-comment__button:focus, .reply-to-comment__button:hover {
    background: rgba(241, 196, 15, 0.6); }

.new-comment__form, .edit-comment__form, .reply-to-comment__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.page-content {
  position: relative;
  max-width: 940px;
  margin: auto;
  background: #fff;
  padding: 48px 80px 60px;
  margin-top: -80px; }
  @media (max-width: 767px) {
    .page-content {
      padding: 48px 20px 60px; } }
  .page-content .post-title {
    position: relative; }
    .page-content .post-title .post-title__icon {
      width: 32px;
      height: 32px;
      font-size: 18px;
      left: -56px;
      position: absolute; }
  .page-content .post-content p {
    margin-bottom: 25px; }
  .page-content .post-content img {
    width: 100%;
    height: auto;
    border: 5px solid #f2f2f2; }
  @media (min-width: 1200px) {
    .page-content .post-content .image-and-text {
      margin: 0 0 0 -80px; }
      .page-content .post-content .image-and-text img {
        float: left;
        border-left: none;
        margin-right: 20px;
        max-width: 365px; } }

.post-date {
  color: #b6b6b6;
  font-size: 15px;
  line-height: 20px;
  font-family: stag-medium;
  margin-bottom: 7px; }

/* post meta */
.post-meta {
  color: #b6b6b6;
  padding: 14px 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  font-size: 15px;
  margin-top: -2px; }
  @media (max-width: 767px) {
    .post-meta {
      flex-direction: column; } }
  @media (min-width: 768px) {
    .post-meta .post-date-posted {
      margin-left: 56px; }
    .post-meta .post-comments-count {
      margin-left: 66px; } }

.comments {
  margin-top: 36px;
  color: #b6b6b6;
  /* Replied comments */ }
  .comments .comment-ava {
    border-radius: 4px;
    border: 2px solid #ebedee;
    width: 88px;
    height: 88px;
    padding: 2px; }
    .comments .comment-ava img {
      border-radius: 4px;
      width: 80px; }
  .comments .new-comment {
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px; }
    .comments .new-comment .new-comment__form {
      margin-left: 22px; }
  .comments .reply-to-comment, .comments .edit-comment {
    width: 100%;
    margin-top: 20px; }
    .comments .reply-to-comment .reply-to-comment__header, .comments .reply-to-comment .edit-comment__header, .comments .edit-comment .reply-to-comment__header, .comments .edit-comment .edit-comment__header {
      margin-bottom: 18px;
      font-size: 15px;
      display: flex;
      justify-content: space-between; }
    .comments .reply-to-comment .reply-to-comment__cancel, .comments .reply-to-comment .edit-comment__cancel, .comments .edit-comment .reply-to-comment__cancel, .comments .edit-comment .edit-comment__cancel {
      transition: color .4s;
      cursor: pointer; }
      .comments .reply-to-comment .reply-to-comment__cancel:hover, .comments .reply-to-comment .edit-comment__cancel:hover, .comments .edit-comment .reply-to-comment__cancel:hover, .comments .edit-comment .edit-comment__cancel:hover {
        color: #454545; }
  .comments .last-comments .comment {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px; }
    .comments .last-comments .comment .comment-ava {
      margin-right: 12px; }
    .comments .last-comments .comment .comment-content {
      width: calc(100% - 100px); }
  .comments .last-comments .comment-header {
    font-family: stag-medium; }
  .comments .last-comments .comment-title {
    color: #454545;
    font-size: 17px;
    margin-right: 10px; }
  .comments .last-comments .comment-message {
    color: #454545;
    font-size: 17px;
    margin-bottom: 16px; }
  .comments .last-comments .comment-actions {
    font-family: stag; }
    .comments .last-comments .comment-actions .comment-actions__edit, .comments .last-comments .comment-actions .comment-actions__delete, .comments .last-comments .comment-actions .comment-actions__reply {
      transition: color .4s;
      cursor: pointer; }
      .comments .last-comments .comment-actions .comment-actions__edit:hover, .comments .last-comments .comment-actions .comment-actions__delete:hover, .comments .last-comments .comment-actions .comment-actions__reply:hover {
        color: #454545; }
  .comments .replied-comments {
    width: 100%;
    min-width: 100%;
    padding-left: 100px; }
  .comments .comments__load-more-wrap {
    margin: 45px 0 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .comments .comments__load-more-wrap:before, .comments .comments__load-more-wrap:after {
      content: '';
      width: 100%;
      height: 1px;
      background: #f2f2f2; }
  .comments .comments__load-more {
    cursor: pointer;
    font-size: 17px;
    color: #b6b6b6;
    border: 1px solid #f2f2f2;
    width: 180px;
    min-width: 180px;
    margin: 0 10px;
    line-height: 36px;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
